.container {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	margin: 0 auto;
	width: 900px;
}

img {
	
	width: 100%;
}

a:link {
    text-decoration: none;
  	color: #FF6A6A;
}

a:visited {
  color: #FF6A6A;
}

a:hover {
    text-decoration: underline;
  	color: #FF6A6A;
}

a {
	color: #FF6A6A;
	text-decoration: none;
}
	
.bg-light {
	background-color: #FF6A6A!important;
}
	
h1 {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 30px;
}

#byline {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 15px;
	color: #696969;
}

#date {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 15px;
	color: #FF6A6A;
}

h2 {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 18px;
}

h3 {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 16px;
}

p {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 18px;
}

.pullquote {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 26px;
	margin: 1.5em 2em 0 1.5em;
	font-style: italic;
	color: #FF6A6A;
}


#caption {
	font-family: 'Vollkorn', serif, 'Montserrat', sans-serif;
	font-size: 14px;
	color: #696969;
}

footer {
	background-color: #FF8B8B;
	text-align: center;
	padding: 3px;
	color: white;
}