/*styles for my resume*/

/*general guidelines*/
body{
	font-family: font-family: 'Open Sans', arial, sans-serif;
	font-size: 1em;
	color: #444;
	font-weight: 400;
}

#container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 50px;
}

/*name at the top*/
#name{
	font-size: 3em;
	text-transform: uppercase;
	text-align: center;
	color: #33485e;
	border-bottom: 1px solid #33485e;
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
}
#menu {
	margin: 0px;
	padding: 0px;
	text-align: center;
	display: inline;

}
/*took a weird amount of time to get this right*/
#title {
	color: #33485e;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 600;
	text-align: center;
	margin: 20px 0px 0px;
}

/*main categories*/
#sectionheader{
	font-size: 1.5em;
	text-transform: uppercase;
	color: #fff;
	background-color: #33485e;
	margin: 20px 0px 10px;
	width: 70%;
	min-width: 300px;
}
/*job title*/
#jobtitle{
	font-size: 1.25em;
	font-weight: 600;
}

/*employer or organization*/
#organization{
	font-size: 1.5em;
	font-weight: 400;
}

/*dates active at job*/
#date {
	font-size: 1em;
	font-weight: 400;
	text-transform: italic;
	margin: 2px 0px 0px;
}

/*conatct info, skills and education info*/
ul {
	font-size: 1em;
}

/*had to correct spelling in html*/
#description {
	margin: 10px 0px;
}

#degrees {
	margin: 5px 0px 0px;
}

#do {
	margin: 5px 0px 0px;
}

#top {
	width: 60%;
	min-width: 300px;
	margin: 0 auto;
	margin-bottom: 30px;
}


