.container {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0 auto;
	width: 900px;
}

.navbar {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}
	
.bg-light {
	    background-color: #f8f9fa!important;
}
	
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 30px;
}

#byline {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #696969;
}
h2 {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
}

p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

#caption {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #696969;
}

footer {
	background-color: #000000;
	text-align: center;
	padding: 3px;
	color: white;
}